<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beranda</title>
    <style>
      .prg-card{
        text-align: center;
      }
      .search-wrapper{
         background-color: antiquewhite;
        text-align: center;

      }
      .input-text-search{
         width:67.3%;
         height:36px;
         color:brown 
      }
      .btn-search-type{
         width:45px;
         height:40px;
         margin-left: 0px;
      }
      .bar-option{
         background-color: rgb(199, 175, 145);
         text-align: center;
         
      }
      .bar-btn{
         margin-left:0px;
         text-decoration: none;
         margin-left:20px;
         border:0px;
         width:auto;
         height: 29px;
         border-radius: 9px;
         border-color:rgb(147, 144, 54);
         background-color:rgb(220, 198, 171) ;
      }
      .bar-wrapeer{
        text-align: left;
        background-color: rgb(222, 199, 213);
      }
     
     .username-value{
        color:brown;
        margin-right:12px;
     }
     .annacoument-card-container{
    background-color: whitesmoke;
    text-align: center;

    
}
.annacoument-body{
    height: 100px;
    overflow-y: auto;
}
    </style>
</head>
<body>
    <form action='/search-annacouments/<%=account.account_id%>'  method="post" class="search-wrapper">
        <a href="/first-page/<%=account.account_id%>" style="text-decoration: none;">
           <span class="username-value"><%=account.username%></span>
            </a>
        <input type="text" name="search_annacoument_input" class="input-text-search" placeholder="cari apa" >
        <button class="btn-search-type" type="submit">🔍</button>
    </form>
    <div class="bar-option">
    
    <div class="bar-wrapeer">
        <a href="/annacoument-navigation/<%=account.account_id%>" style="text-decoration: none;">
            <button class="bar-btn" style="color:brown"><-</button>
            </a>
        <a href="/beranda/<%=account.account_id%>" style="text-decoration: none;">
            <button class="bar-btn" style="color:brown">semua</button>
            </a>
            <a href="/qoutes-navigation/<%=account.account_id%>" style='text-decoration: none;'>
            
            <button class="bar-btn" style='color:lightgreeen'>qoutes</button>
        
            </a>
    </div>
    
    
    </div>
    
    <div class="annacoument-wrapper">
        <% annacouments.forEach(DATA => { %>
            <div class="annacoument-card-container">
            <h3 class="annacoument-title"><%=DATA.username%></h3>
            <b><%=DATA.carry.place%></b>
            <fieldset class="annacoument-body">
                <h3><%=DATA.annacoument_title%></h3>
                <span><%=DATA.annacoument_value%></span>
            </fieldset>
               <a href="/open-annacoument/<%=account.account_id%>/<%=DATA.annacoument_id%>" style="text-decoration: none;">
              <span >buka</span>
            </a>
        
        
            </div>
        
        
        
        <% }) %>
    
    
    </div>
    
</body>