<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <style>
    .body-nav{
    height: 490px;
    overflow-y: auto;
    text-align: center;
}
.annacoument-bar{
      background-color: antiquewhite;

    }
    .btn-bar{
      width:100px;
      height: 39px;
      background-color: blanchedalmond;
      margin-left:4px;

    }
    .ann-paper{
      height:430px;
      background-color: aliceblue;

    }
    .textarea-container{
      width:91.2%;
      height:140px;
      border: 0px;
      background-color: aliceblue;
    }
    .mini-input{
      width:34%;
      height: 22px;
      background-color: aliceblue;
      border:0px
    }
    .location-input{
      width:68%;
      height: 22px;
      border: 0px;
      background-color: aliceblue;
      text-align: center;
    }
    .coment-input{
       width:81.2%;
       height: 34px;
       border:0px
    }
    .btn-coment{
      width:14%;
      height: 34px;
      background-color: brown;
      color:aliceblue;
      border-color:gold
    }
    .coment-card-container{
      background-color: antiquewhite;
    }
  </style>
</head>
<body>
  <div class="annacoument-bar">
    <a href="/first-page/<%=user_id%>" style="text-decoration: none;">
      <button class="btn-bar">pulang</button>
    </a>
    <a href="/beranda/<%=user_id%>" style="text-decoration: none;">
      <button class="btn-bar">kembali</button>
    </a>
    <a href="/annacoument-navigation/<%=user_id%>" style="text-decoration: none;">
      <button class="btn-bar">navigasi</button>
    </a>
  </div>
  <div class="body-nav">
    <div class="ann-paper">
      <h1><%=username%></h1>
      <a href='/open-chat-system/<%=user_id%>/<%=annacoument.user_id%>' style='text-decoration:none'>
      <h3>hubungi  <%=annacoument.username%></h3>
      </a>
    <fieldset class='annacoument-body'>
    <h3><%=annacoument.annacoument_title%></h3>
    <textarea name='new_annacoument_value' class='textarea-container'><%=annacoument.annacoument_value%></textarea><br>
    <input type='date' name='new_date' value='<%=annacoument.carry.date%>' class='mini-input'>
    <input type='time' name='new_time' value='<%=annacoument.carry.time%>' class='mini-input'>
    <input type='text' name='new_place' value='<%=annacoument.carry.place%>' class='location-input' placeholder="lokasi baru">
    </fieldset>
    </div>
    <div class="coment-container">
      <form action='/post-annacoument-coment-beranda' method="post" style="margin-top:24px;background-color:rgb(214, 207, 179);" >
        <input type="hidden" name="username_input" value="<%=username%>">
        <input type="hidden" name="userId_input" value="<%=user_id%>">
        <input type="hidden" name="annacoumentId_input" value="<%=annacoument.annacoument_id%>">
        <input name="input_coment"  class="coment-input" placeholder="komen sesuatu">
        <button type="submit" class="btn-coment">kirim</button>
    </form>
    <h3>komentar</h3>
    <% coments.forEach(datas => { %>
     <div class="coment-card-container">
      <h3><%=datas.username%></h3>
      <p><%=datas.coment_Value%></p>
     </div>
    <% }) %>    

    </div>




<div class="coment-container">




</div>

  </div>
</body>
</html>