<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beranda</title>
    <style>
      .prg-card{
        text-align: center;
      }
      .search-wrapper{
         background-color: antiquewhite;
        text-align: center;

      }
      .input-text-search{
         width:67.3%;
         height:36px;
         color:brown 
      }
      .btn-search-type{
         width:45px;
         height:40px;
         margin-left: 0px;
      }
      .bar-option{
         background-color: bisque;
         
      }
      .bar-btn{
         margin:100px;
         text-decoration: none;
      }
      .qoutes-card-container{
    background-color: #dfdad5;
    margin: 12px;
    text-align: center;
}

.qoutes-bar{
    background-color: rgb(219, 226, 199);
    
}

.qoutes-info{
    width:300px;
    height: 30px;
    background-color:rgb(219, 226, 199);
    border:0px;
}
.qoutes-value{
    background-color: #ffe4c4;
    color:brown

}
.coment-coloum{
    background-color: rgb(239, 232, 222);
    
}
.coment-container-input{
    width:400px;
    background-color: #ffe4c4;
    color:green;
    border: 0px;
}
.coment-list{
    width:400px;
    background-color: blanchedalmond;
}
.detail-container{
    text-decoration: none;
color:brown;
background-color: rgb(231, 201, 201);
}
  
     
     
    </style>
</head>
<body>
    <form action='/search-data/<%=account.account_id%>'  method="post" class="search-wrapper">
      <b style="color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(209, 203, 197);">mulut</b>
        <input type="text" name="search_input" class="input-text-search" placeholder="cari apa" >
        <button class="btn-search-type" type="submit">🔍</button>
    </form>
    <div class="bar-option">
    <a href="/first-page/<%=account.account_id%>" class="bar-btn">pulang</a>
    <a href="/beranda/<%=account.account_id%>" class="bar-btn" style="color:blue">beranda</a>
    <a href="/orang-lain/<%=account.account_id%>" class="bar-btn" style="color:green">orang lain</a>
    </div>
    <div class="context-wrapper">
    <% paragraf.forEach(prg=> { %>
      <div class="qoutes-card-container">
        <div class="qoutes-bar">
            <select class="qoutes-info">
                <option style="color:rgb(106, 131, 72);background-color:whitesmoke;"><%=prg.qoutes_title%></option>
                <option style="color:green;background-color:whitesmoke;"><%=prg.userName%></option>
                <option style="color:green;background-color:whitesmoke;"><%=prg.carry.time%></option>
                <option style="color:green;background-color:whitesmoke;"><%=prg.carry.location%></option>
            </select>
        </div>
       <div class="qoutes-value">
        <%=prg.qoutes%>
        
        </div> 
        <div class="coment-coloum">
            <a href="/open-coment-beranda/<%=prg.id_prg%>/<%=account.account_id%>" class="detail-container">lihat detail</a>
         </div>
        

    </div>

    <% }) %>
    </div>
    
</body>
</html>