<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beranda</title>
    <style>
      .prg-card{
        text-align: center;
      }
      .search-wrapper{
         background-color: antiquewhite;
        text-align: center;

      }
      .input-text-search{
         width:67.3%;
         height:36px;
         color:brown 
      }
      .btn-search-type{
         width:45px;
         height:40px;
         margin-left: 0px;
      }
      .bar-option{
         background-color: bisque;
         
      }
      .bar-btn{
         margin:100px;
         text-decoration: none;
      }
      .prg-card{
         background-color:burlywood;
         border:0px
      }
      .qoutes-card-container{
    background-color: #dfdad5;
    
}

.qoutes-bar{
    background-color: rgb(219, 226, 199);
    
}

.qoutes-info{
    width:300px;
    height: 30px;
    background-color:rgb(219, 226, 199);
    border:0px;
}
.qoutes-value{
    background-color: #ffe4c4;
    color:brown

}
.annacoument-card-container{
    background-color: whitesmoke;
    text-align: center;

    
}

.annacoument-card-container{
    background-color: whitesmoke;
    text-align: center;

    
}
.annacoument-body{
    height:100px;
    overflow-y: auto;
}



    </style>
</head>
<body>
   
   <form action="/search-get" method="post" class="search-wrapper">
      <b style="color:rgb(255, 183, 0);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(209, 203, 197);">mulut</b>
        <input type="text" name="search_input" class="input-text-search" placeholder="cari apa" >
        <button class="btn-search-type" type="submit">🔍</button>
    </form>
    <div class="bar-option">
    <a href="/login-page" class="bar-btn">login</a>
    <a href="/sign-up-option" class="bar-btn" style="color:blue">sign-up biasa</a>
    <a href="/mulut.com" class="bar-btn" style="color:brown">beranda</a>
    </div>
   
    <% paragraf.forEach(prg=> { %>
      <div class="qoutes-card-container">
         <div class="qoutes-bar">
             <select class="qoutes-info">
                 <option style="color:rgb(106, 131, 72);background-color:whitesmoke;"><%=prg.qoutes_title%></option>
                 <option style="color:green;background-color:whitesmoke;"><%=prg.userName%></option>
                 <option style="color:green;background-color:whitesmoke;"><%=prg.carry.time%></option>
                 <option style="color:green;background-color:whitesmoke;"><%=prg.carry.location%></option>
             </select>
         </div>
        <div class="qoutes-value">
         <%=prg.qoutes%>
         
        


    <% }) %>
    </div>
    <div class="annacoument-wrapper">
        <% annacouments.forEach(DATA => { %>
            <div class="annacoument-card-container">
            <h3 class="annacoument-title"><%=DATA.username%></h3>
            <b><%=DATA.carry.place%></b>
            <fieldset class="annacoument-body">
                <h3><%=DATA.annacoument_title%></h3>
                <span><%=DATA.annacoument_value%></span>
            </fieldset>
              
        
        
            </div>
        
        
        
        <% }) %>
    
    
    </div>
</body>
</html>