<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beranda</title>
    <style>
      .prg-card{
        text-align: center;
      }
      .search-wrapper{
         background-color: antiquewhite;
        text-align: center;

      }
      .input-text-search{
         width:67.3%;
         height:36px;
         color:brown 
      }
      .btn-search-type{
         width:45px;
         height:40px;
         margin-left: 0px;
      }
      .bar-option{
         background-color: bisque;
         
      }
      .bar-btn{
         margin:100px;
         text-decoration: none;
      }
      .prg-card{
         background-color:burlywood;
         border:0px
      }
    </style>
</head>
<body>
   
   <form action="/search-get" method="post" class="search-wrapper">
      <b style="color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(209, 203, 197);">mulut</b>
        <input type="text" name="search_input" class="input-text-search" placeholder="cari apa" >
        <button class="btn-search-type" type="submit">cari</button>
    </form>
    <div class="bar-option">
    <a href="/login-page" class="bar-btn">login</a>
    <a href="/sign-up-option" class="bar-btn" style="color:blue">sign-up biasa</a>
    </div>
    <div class="content-wrapper">
    <% paragraf.forEach(element => { %>
      <fieldset class="prg-card">
         <legend><%=element.userName %></legend>
         <h1 class="qoutes-title"><%=element.qoutes_title%></h1>
  <select class="qoutes-ket">
    <option>waktu:<%=element.carry.time%></option>
    <option> location:<%=element.carry.location%></option>
  </select>

           <div class="qoutes-contain"><%=element.qoutes%></div>


    </fieldset>  


    <% }) %>
    </div>
</body>
</html>