<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatting:<%=targetname%></title>
    <style>
     .chat-bar-name{
        background-color: antiquewhite;
     }

.username-btn{
    background-color:rgb(207, 220, 186);
    color:green;
    border:0px;
    width:45.3%;
            height: 30px;
        
}
.target-btn{
    background-color:rgb(238, 211, 199);
    color:rgb(165, 78, 15);
    border:0px;
    width:45.3%;
    height: 30px;
}


        .chat-body{
            height: 400px;
            overflow-y: auto;
        }
  .chat-sent{
    background-color:rgb(210, 235, 210);
    text-align:left;
  }
  .chat-accept{
    background-color:rgb(218, 196, 173);
    text-align:left;
  }
  .input-chat{
    width:78.3%;
    height:30px;
    border:0px;
    background-color: rgb(242, 237, 230);
  }
  .chat-sender{
    width:10%;
    height: 30px;
    border:0px;
    background-color: bisque;
    color:brown
  }
    </style>
</head>
<body>
    <div class="chat-bar-name">
    <a href="/first-page/<%=user_id%>" style="text-decoration: none;">
        <button class="username-btn"><%=username%></button>
    </a>
    <a href="/others-content/<%=target_id%>/<%=user_id%>" style="text-decoration: none;">
        <button class="target-btn"><%=targetname%></button>
    </a>
    </div>
    <div class="chat-body">
     <% chats.forEach(chat => { %>
     <% if (user_id==chat.user_id) { %>
        <div class="chat-sent">
            <b style="color:green"><%=chat.name%></b>
            <p style="color:green"><%=chat.chat_value%></p>
          </div>
     <% } else{ %>
        <div class="chat-accept">
            <b style="color:brown"><%=chat.name%></b>
            <p style="color:brown"><%=chat.chat_value%></p>
          </div>
        <% } %>
       
     <% }) %>
    </div>
    <form action="/sent-chat" method="post">
        <input type="hidden" name="input_userId" value="<%=user_id%>">
        <input type="hidden" name="input_targetId" value="<%=target_id%>">
        <input type="hidden" name="get_username" value="<%=username%>">
        <input type="hidden" name="time_get" value="<%-date%>">
        <input type="text" name="input_chat_text" class="input-chat" placeholder="ketikan sesuatu">
        <button class="chat-sender" type="submit">--></button>
    </form><br><br>
    

</body>
</html>