<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<style>
    body{
        background-color: #dfdad5;
    }
   .username-style{
    color:brown;
    background-color: #ffe4c4;
    height: 100px;
    text-decoration: none;
   }
   .bar-private-container{
    background-color: rgb(202, 166, 166);
   }
   .identity-private{
    width:245px;
    height: 36px;
    background-color: rgb(201, 149, 149);
    color:bisque;
    border:0px;
   }
.btn-bar{
    text-decoration: none;
    width:100px;
    height:38px;
    background-color: rgb(202, 166, 166);
    border:0px;
    margin-left: 100px;
}
.prg-card{
    text-align: center;
    background-color: burlywood;
    border:0px
}

.qoutes-card-container{
    background-color: #dfdad5;
    margin: 12px;
    text-align: center;
}

.qoutes-bar{
    background-color: rgb(219, 226, 199);
    
}

.qoutes-info{
    width:300px;
    height: 30px;
    background-color:rgb(219, 226, 199);
    border:0px;
}
.qoutes-value{
    background-color: #ffe4c4;
    color:rgb(173, 96, 96)

}
.coment-coloum{
    background-color: blanchedalmond;
}
.coment-container-input{
    width:400px;
    background-color: #ffe4c4;
    color:green;
    border: 0px;
}
.detail-container{
    text-decoration: none;
color:brown;
background-color: rgb(231, 201, 201);
}
.qoutes-delete-btn{
    color:rgb(247, 226, 226);
    background-color:red;
    text-decoration: none;
    margin-left:45px;

}
</style>


<body>
    <b style="color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(209, 203, 197);">mulut</b>
<h1>
    <a href="/setting/<%=data.account_id%>" class="username-style"><%=data.username%></a>
    
</h1>

<div class="bar-private-container">
    <a href="/list-chat-open/<%=data.account_id%>"><button  class="btn-bar" style="color:rgb(55, 91, 55)">barusan</button> </a>
    <a href="/input/<%=data.account_id%>" ><button  class="btn-bar" style="color:rgb(11, 138, 11)">tambah</button></a>

<a href="/beranda/<%=data.account_id%>" >
 <button class="btn-bar" style="color:whitesmoke;">navigasi</button>
</a>
<a href="/orang-lain/<%=data.account_id%>" ><button class="btn-bar" style="color:aquamarine">orang lain</button></a>
</div>

<div class="context-wrapper">
<% paragraf.forEach(prg => { %>
    <div class="qoutes-card-container">
        <div class="qoutes-bar">
            <select class="qoutes-info">
                <option style="color:rgb(106, 131, 72);background-color:whitesmoke;"><%=prg.qoutes_title%></option>
                <option style="color:green;background-color:whitesmoke;"><%=prg.userName%></option>
                <option style="color:green;background-color:whitesmoke;"><%=prg.carry.time%></option>
                <option style="color:green;background-color:whitesmoke;"><%=prg.carry.location%></option>
            </select>
           
        </div>
       <div class="qoutes-value">
        <%=prg.qoutes%>
        
        </div> 
 <div class="coment-coloum">
    <a href="/open-coment/<%=prg.id_prg%>/<%=data.account_id%>" class="detail-container">lihat detail</a>
 </div>


    </div>



<% }) %>

</div>

</body>
</html>