<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tambah paragraf</title>
    <style>
      *{
        background-color:#e1e1d5
        
      }
      .form-paragraf-style{
        text-align: center;
      }
      .input-text-prg{
        width:97.4%;
        height:250px;
        margin:19px;
        border:0px;
        background-color: aliceblue
      }
      .input-text-style{
        width:47.9%;
        height: 36px;
        border:0px;
        background-color: aliceblue;
      


      }
      .input-prg-wrapper{
        height:257px;
        overflow-y: auto;

      }
      .btn-submid-style{
        background-color:whitesmoke;
        width:25%;
        height: 34px;
      }
      .input-bar{
        background-color: antiquewhite;
        text-align: left;

      }
      .btn-bar{
        color:green;
        text-decoration: none;
        background-color: antiquewhite;
        height:45px;
        margin:100px
      }
    </style>
</head>
<body>
    
    <form action="/post-prg" method="post" class="form-paragraf-style">
      <b style="color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(209, 203, 197);">mulut</b>
     <div class="input-bar">
      <a href="/first-page/<%=data.account_id%>" class="btn-bar">pulang</a>
      <a href="/input/<%=data.account_id%>" class="btn-bar" style="color:rgb(46, 67, 67)">berita</a>
      <a href="?add-comunity/<%=data.account_id%>" class="btn-bar" style="color:blueviolet">komnitas</a>
      
     </div>
     <b style="color:brown; margin-left: 400px;" >silahkan tulis qoutes  mu <%=data.username%></b>
      <input type="hidden" value="<%=data.account_id %>" name="user_id"><br>
      <input type="hidden" value="<%=data.username %>" name="user_name"><br>
      <input type="text" name="input_qoutes_title" class="input-text-style" placeholder="judul qoutes">
      <input type="hidden" name="location_input" value="<%=data.location%>">
      <input type="date" name="input_release_date" class="input-text-style"><br>
      <textarea name="input_qoutes"  class="input-text-prg" placeholder="isi qoutes"></textarea>
      <button type="submit" class="btn-submid-style"> posting</button>
    </form>
</body>
</html>