<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>buat qoutes</title>
  <style>
    .input-qoutes-wrapper{
      background-color: bisque;
    }

    .btn-name{
     background-color:whitesmoke;
     color:brown;
     height: 34px;
     border:0px
    }
    .btn-bar{
      width:100px;
      margin-left: 130px;
      height:34px;
      border:0px;
      background-color: bisque;

    }
    .clock{
      margin-left: 300px;
    }
    .input-style{
      margin-left: 500px;
      margin-bottom: 12px;
    }
    .input-qoutes{
      width:94.3%;
      height: 400px;
       border:0px
    }
    .submid-btn{
      width:100px;
      height: 45px;
      border: 0px;
    }
  </style>
</head>
<body>
  <div class="input-qoutes-wrapper">
    <a href="/first-page/<%=data.account_id%>" style="text-decoration: none;">
    <button class="btn-name"><%=data.username%></button>
    </a>
    <a href="/add-annacoument-page/<%=data.account_id%>" style="text-decoration: none;">
      <button class="btn-bar">pengumuman</button>
    </a>

    <span class="clock">
      <b class="hours-time" ><%=hours%></b>:
    <b class="minutes-time"><%=minutes%></b>
    </span>
  </div>
  <div style="text-align: center;">
    <div class="input-style">
      <table>
        <tr>
          <th>tulisan</th>
          <td><input type="color" id="input-sign-color" class="input-color" onclick="
          const input={
            color:document.getElementById('input-sign-color').value,
            input:document.getElementById('sign'),
            element:document.getElementById('qoutes')
          }
          
          input.input.setAttribute('value',input.color)
          input.element.style.color=input.color
          "></td>
        </tr>
        <tr>
          <td>latar belakang</td>
          <td><input type="color" id="input-background-color" class="input-color" onclick="
          const inputCol={
            color:document.getElementById('input-background-color').value,
            input:document.getElementById('background'),
            element:document.getElementById('qoutes')
          }
          
          inputCol.input.setAttribute('value',inputCol.color)
          inputCol.element.style.backgroundColor=inputCol.color
          "></td>
        </tr>
      </table>
    </div>
    <form action="/post-qoutes" method="post" class="">
      <input type="hidden" value="" name="input_signColor" id="sign">
      <input type="hidden" name="input_background" value="" id="background">
      <input type="hidden" name="input_username" value="<%=data.username%>" >
      <input type="hidden" name="input_userId" value="<%=data.account_id%>">
      <input type="hidden" name="input_hours" value="<%=hours%>">
      <input type="hidden" name="input_minutes" value="<%=minutes%>">
      <input type="hidden" name="input_location" value="<%=data.location%>">
       <textarea name="input_qoutes" placeholder="isi qoutes" class="input-qoutes" id="qoutes"></textarea><br>
       <button class="submid-btn" type="submit">post</button>
    </form>
  </div>
</body>
</html>