<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat masuk dan keluar</title>
  <style>
    .body-nav{
      height:450px;
      overflow-y: auto;
    }
    body{
      background-color: whitesmoke;
    }
  .input-text{
      width:79.2%;
      height: 34px;
      background-color: aliceblue;
      color:brown;
      border:0px
  }
  .btn-search{
    width:15%;
    height: 34px;
    background-color: burlywood;
    color:rgb(21, 31, 39);
    border:0px
  }
  .btn-username{
    width:20.3%;
    height: 32px;
    background-color: rgb(121, 93, 59);
    color:rgb(234, 206, 206);
    border:0px
  }
  .btn-bar{
    width:20.3%;
    height: 32px;
    background-color: bisque;
    color:brown;
    border:0px
  }
  .send-chat-get{
    background-color: rgb(222, 233, 185);
    text-align: center;

  }
  .accept-chat-get{
    background-color: rgb(223, 189, 170);
    text-align: center;
  }
  </style>
</head>
<body>
  <form action="/search-chat-list" method="post" class="search-bar">
    <input type="hidden" value="<%=user_id%>" name="user_id">
    <input type="text" name="input_search" class="input-text" placeholder="cari isi chat">
    <button class="btn-search" type="submit">cari</button>
  </form>
  <div class="chat-bar-page">
    <a href="/first-page/<%=user_id%>" style="text-decoration: none;">
      <button class="btn-username"><%=username%></button>
    </a>
   <a href="/friends-list/<%=user_id%>" style="text-decoration: none;">
    <button class="btn-bar">kenalan</button>
   </a>
   <a href="/friends/<%=user_id%>" style="text-decoration: none;">
    <button class="btn-bar">dikenal</button>
   </a>
   <a href="/delete-chats/<%=user_id%>" style="text-decoration: none;">
   <button class="btn-bar" style="background-color: aqua;color:blueviolet">bersih</button>
   </a>
  </div>
  <div class="body-nav">
   <% chats.forEach(chat => { %>
   <% if (chat.user_id==user_id) { %>
    <div class="send-chat-get">
      <h3 style="color:green"><%=chat.targetname%></h3>
      <a href="/open-chat-system/<%=user_id%>/<%=chat.target_id%>" style="text-decoration: none;color:green"><%=chat.chat_value%></a>
  </div>
   <% } else{%>
    <div class="accept-chat-get">
      <h3 style="color:rgb(128, 71, 58)"><%=chat.name%></h3>
      <a href="/open-chat-system/<%=user_id%>/<%=chat.user_id%>" style="text-decoration: none;"><%=chat.chat_value%></a>
     </div>
   
<%} %>

   <% }) %>
  </div>
  <div class="bar-below">
    <a href="/orang-lain/<%=user_id%>" style="text-decoration: none;">
     <button class="btn-bar">orang</button>
    </a>
    <a href="/beranda/<%=user_id%>" style="text-decoration: none;">
      <button class="btn-bar">navigasi</button>
    </a>
  </div>
  
</body>
</html>