<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <style>
      body{
         background-color: aliceblue;
      }
      .prg-card{
         text-align: center;
         background-color: burlywood;

      }
      .bar-btn{
         width:100px;
         height: 34px;
         margin-left: 100px;
         text-decoration: none;
         background-color:lightgray;
         border:7px;



      }
      .others-bar{
         background-color:lightgray;
      }
      .qoutes-card{
    width:500px;
    overflow-y: auto;
    margin-left:250px;
    margin-top:24px

}

.qoutes-bar{
    background-color:lightgray;
    color:aliceblue;
    
}
.bar-info{
    height: 34px;
    width:344px;
    border:0px;
    background-color: beige;
    margin-left: 100px;
}

.qoutes-info{
    width:300px;
    height: 30px;
    background-color:rgb(219, 226, 199);
    border:0px;
}
.qoutes-value{
    background-color: #ffe4c4;
    color:brown

}
.coment-coloum{
    background-color: blanchedalmond;
}
.coment-container-input{
    width:400px;
    background-color: #ffe4c4;
    color:green;
    border: 0px;
}
.coment-list{
    width:400px;
    background-color: blanchedalmond;
}
.detail-container{
    text-decoration: none;
color:brown;
background-color: rgb(231, 201, 201);
}
.othersname{
    height:38px;
    background-color: #ffe4c4;
    text-decoration: none;
    border-color:brown;
    border:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.bar-option{
    margin-left: 103px;
    height: 29px;
    background-color: antiquewhite;
    border-radius: 7px;
}
.context-wrapper{
    height: 480px;
    overflow-y: auto;
}
.add-container{
    background-color:transparentbrown;
    text-align: left;
}
.btn-humanity{
    width:200px;
    height:39px;
    background-color: #ffe4c4;
    
}
 .annacoument-card-container{
    background-color: whitesmoke;
    text-align: center;

    
}
.annacoument-body{
    height: 100px;
    overflow-y: auto;
}
.get-friends-btn{
    width:90px;
    height:34px;
    margin: 12px;
    border-radius: 12px;
    background-color: aqua;
    color:brown
}
.delete-friends-btn{
    width:90px;
    height:34px;
    margin: 12px;
    border-radius: 12px;
    background-color:gray;
    color:rgb(233, 219, 219)
}
    </style>

</head>
<body>
<div class="others-bar">
   <button class="othersname"><%=othersName%></button>
   <a href="/first-page/<%=user%>" style="text-decoration: none;" >
  <button class="bar-btn" style="color:rgb(30, 57, 57)"><%=userName%></button>  
</a>
   <a href="/orang-lain/<%=user%>"  style="text-decoration: none;">
   <button  class="bar-btn" style="color:green">kembali</button>  
</a>
   <a href="/open-chat-system/<%=user%>/<%=others%>" style="text-decoration: none;">
    <button class="bar-btn"  style="color:lightslategrey">chat </button>  
</a>


    <select class="bar-info">
        <option  >info</option>
        <option><%=othersName%></option>
        <option> <%=othersLocation%></option>
    </select>
    
 
</div>
<form action="/get-friends-data" method="post"  id="post-id">
    <input type="hidden" name="get_userId" value="<%=user%>">
    <input type="hidden" name="get_targetId" value="<%=others%>">
    <button class="get-friends-btn" type="submit">kenalan</button>
</form>

<div class="context-wrapper">
<% others_content.forEach(datas=> { %>
    <div class="qoutes-card"  style="background-color: <%=datas.bgcolor%>;" >
        <div class="qoutes-bar">
            
            <select  class="qoutes-info">
                <option><%=datas.username%></option>
                <option><%=datas.carry.hours%>:<%=datas.carry.minutes%></option>
                <option><%=datas.carry.location%></option>
            </select>
            
        </div>
    
        
    <h3 style="color:<%=datas.color%>"><%=datas.qoutes_value%></h3>
    
    
       
    </div>

<% }) %>

</div>

    <div class="annacoument-wrapper">
        <% others_annacouments.forEach(DATA => { %>
            <div class="annacoument-card-container">
            <h3 class="annacoument-title"><%=DATA.username%></h3>
            <b><%=DATA.carry.place%></b>
            <fieldset class="annacoument-body">
                <h3><%=DATA.annacoument_title%></h3>
                <span><%=DATA.annacoument_value%></span>
            </fieldset>
               <a href="/open-annacoument/<%=user%>/<%=others%>/<%=DATA.annacoument_id%>" style="text-decoration: none;">
              <span >buka</span>
            </a>
        
        
            </div>
        
        
        
        <% }) %>
    
    
    </div>
</body>
</html>