<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <style>
      body{
         background-color: aliceblue;
      }
      .prg-card{
         text-align: center;
         background-color: burlywood;

      }
      .bar-btn{
         width:100px;
         height: 34px;
         margin-left: 100px;
         text-decoration: none;
         background-color:lightgray;
         border:0px;

      }
      .others-bar{
         background-color:lightgray;
      }
      .qoutes-card-container{
    background-color: #dfdad5;
    margin: 12px;
    text-align: center;
}

.qoutes-bar{
    background-color: rgb(219, 226, 199);
    
}

.qoutes-info{
    width:300px;
    height: 30px;
    background-color:rgb(219, 226, 199);
    border:0px;
}
.qoutes-value{
    background-color: #ffe4c4;
    color:brown

}
.coment-coloum{
    background-color: blanchedalmond;
}
.coment-container-input{
    width:400px;
    background-color: #ffe4c4;
    color:green;
    border: 0px;
}
.coment-list{
    width:400px;
    background-color: blanchedalmond;
}
.detail-container{
    text-decoration: none;
color:brown;
background-color: rgb(231, 201, 201);
}
    </style>
</head>
<body>

<h1 class="others-name"><%=othersName%></h1>
<div class="others-bar">

   <a href="/first-page/<%=user%>" class="bar-btn" style="color:rgb(30, 57, 57)">pulang</a>
   <a href="/orang-lain/<%=user%>" class="bar-btn" style="color:green">kembali</a>
   <a href="/open-chat-system/<%=user%>/<%=others%>"class="bar-btn"  style="color:lightslategrey"> chat</a>
    <select class="bar-btn">
        <option><%=othersName%></option>
        <option> <%=othersLocation%></option>
    </select>

</div>
<% others_content.forEach(prg => { %>
   <div class="qoutes-card-container">
      <div class="qoutes-bar">
          <select class="qoutes-info">
              <option style="color:rgb(106, 131, 72);background-color:whitesmoke;"><%=prg.qoutes_title%></option>
              <option style="color:green;background-color:whitesmoke;"><%=prg.userName%></option>
              <option style="color:green;background-color:whitesmoke;"><%=prg.carry.time%></option>
              <option style="color:green;background-color:whitesmoke;"><%=prg.carry.location%></option>
          </select>
      </div>
      <div class="qoutes-value">
        <%=prg.qoutes%>
        
        </div> 
        <div class="coment-coloum">
            <a href="/open-coment-others/<%=prg.id_prg%>/<%=user%>/<%=others%>" class="detail-container">lihat detail</a>
         </div>
  </div>
<% }) %>

    
</body>
</html>