<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📖<%=title%></title>
    <style>
      
        .qoutes-info{
            width:500px;
            height: 29px;
            background-color: antiquewhite;
            border:0px;
            
            
        }
       
        .qoutes-mini-bar{
            background-color: rgb(201, 181, 154);
            
        }
        .btn-bar{
            border:0px;
            background-color:rgb(201, 181, 154);
            color:azure
        }
        .title-bar{
            color:blanchedalmond
        }
        .qoutes-paper{
            background-color: aliceblue;
            color:brown;
            overflow-y: auto;
            height: 370px;
            border: opx;
            width:1244px;
        }
        .coment-input-wrapper{
            background-color: lightgoldenrodyellow;
        }
        .coment-input{
            width:87.6%;
            height:33px;
            background-color: antiquewhite;
            color:brown
        }
        .coment-card{
            background-color: rgb(238, 236, 234);
            color:rgb(138, 156, 90);
            border-style: double;
            margin:12px;
        }
        .user-name{
            color:brown
        }
        .coment-value{
            color:chocolate
        }
    </style>
</head>
<body style="text-align: center;">
    <div class="qoutes-mini-bar">
        <a href=<%=link_back%>  ><button class="btn-bar">kembali</button></a>
        <select class="qoutes-info">
            <option><%=qoutes_data.qoutes_title%></option>
            <option ><%=qoutes_data.userName%></option>
            <option ><%=qoutes_data.carry.time%></option>
            <option><%=qoutes_data.carry.location%></option>
        </select>
        <a href="/delete-qoutes/<%=qoutes_data.id_prg%>">
        <button class="btn-delete">hapus</button>
        </a>
        <h1 class="title-bar"><%=qoutes_data.qoutes_title%></h1>
    </div>
    <textarea class="qoutes-paper"><%=qoutes_data.qoutes%></textarea>

<div class="coment-input-wrapper">
    <form action=<%=post_method%> method="post">
        <input type="hidden" name="username_input" value="<%=user_data.username%>">
        <input type="hidden" name="userId_input" value="<%=user_data.account_id%>">
        <input type="hidden" name="qoutesId_input" value="<%=qoutes_data.id_prg%>">
        <textarea name="input_coment"  class="coment-input" placeholder="komen sesuatu"></textarea>
        <button type="submit" class="btn-coment">kirim</button>
    </form>
    </div>
    <div class="coment-container">
        <b>komentar </b>

        <% coments.forEach(datas => { %>
        <div class="coment-card">
        <h3 class="user-name"><%=datas.username%></h3>
        <p class="coment-value"><%=datas.coment_Value%></p>

        </div> 


        <% }) %>
        
    </div>
</div>
</body>
</html>