<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .account-sett-wrapper{
        background-color: yellow;
        ;
      }
      .username-fields{
        background-color: antiquewhite;
        border-color:rgb(25, 101, 15);
        margin-top:20px
        
      }
     .username-value{
       color:brown
     }
      .password-fields{
        background-color: antiquewhite;
        border-color:red;
        margin-top: 20px;

      }
      .password-value{
        color:red;
      }

        .account-bar{
            margin: 20px;
            background-color: antiquewhite;
        }
        .btn-bar{
            text-decoration: none;
            height:36px;
            width: 200px;
            margin:75px;

        }
.option-get{
    text-align: center;
    background-color: bisque;
    height:150px;
}

.location-update{
  width:1256px;
  height: 45px;
  border-color:blue;
  background-color: antiquewhite;
  color:blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.location{
  margin-top: 20px;
}
.color-menu{
  background-color:lightgray;
  width:auto;
  margin-left:340px;
  border:12px;
}
.color-input{
  width:400px;
  background-color: aliceblue;

  height:38px;
}
.bgcolor-input{
  width:400px;
  background-color: aliceblue;

  height:38px;
}
.running-btn{
  width:100px;
  height: 76px;;
}
    </style>

</head>
<body>
 


 <div class="account-sett-wrapper">
     <input type="hidden" name="old_UserId" value="<%-account.account_id%>">
     
        
    

     <fieldset class="username-fields" >
    <legend style="color:rgb(79, 113, 29)" >username</legend>

        <span class="username-value" id="username-value"><%=account.username%></span>
     </fieldset>
     <fieldset class="password-fields">
        <legend style="color:brown">password</legend>
        <span class="password-value"><%=account.password%></span>
     </fieldset>

    <form action="/update-data/<%=account.account_id%>" method="post" class="location">
    <b style="color:blue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">location</b>
    <input type="hidden" name="username" value="<%=account.username%>">
    <input type="hidden" name="password" value="<%=account.password%>">
    <textarea name="location_update_input" class="location-update"><%=account.location%></textarea>
    <button>update </button>
    </form>

</div>


<div class="option-get">
    <a href="/mulut.com" ><button class="btn-bar" style="color:rgb(227, 201, 201);border-color:rgb(210, 193, 193);background-color: rgb(174, 143, 143);">log-out</button></a>
    <a href="/first-page/<%=account.account_id%>" ><button class="btn-bar" style="color:rgb(125, 96, 52);border-color:rgb(187, 39, 163)">kembali</button></a>
</div>


 


    
</body>
</html>